@model List<DummyApplication.Models.Users>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col">
        <a href='@Url.Action("Add")' class="btn btn-success">Add a new User</a>
        <h2 class="mt-3">Existing User Record</h2>
        <table class="table table-bordered ">
            <tr>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Address</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.UserEmail</td>
                    <td>@item.UserAddress</td>
                </tr>
            }
        </table>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.4.1.min.js");
    @Scripts.Render("~/signalr/hubs");
    <script>
        var connection = $.hubConnection();
        var hub = connection.createHubProxy("UserHub");
        hub.on("updateUsers", function (statistics) {
            //var rows = "";
            //for (var i = 0; i < statistics.length; i++) {
            //    rows += "<tr>" +
            //        "<td>" + statistics[i].UserName + "</td>" +
            //        "<td>" + statistics[i].UserEmail + "</td>" +
            //        "<td>" + statistics[i].UserAddress + "</td>" +

            //    }
            console.log(statistics);
        });

        connection.start();
    </script>

}